<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Users</title>
  <link rel="stylesheet" type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css}" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"  />

</head>
<body>
<div class="container-fluid text-center">
  <div><h2>Manage Users</h2></div>
  <div class="m-2">
    <a class="h3" th:href="@{/candidats/new}">Add New Candidat</a>
  </div>

  <div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
  </div>

  <div>
    <table class="table table-responsive table-borderless table-hover datatable">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>E-mail</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Classe</th>
          <th>Date de naissance</th>
          <th>Date de creation</th>
          <th>Matricule</th>
          <th>Sexe</th>
          <th>Téléphone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <th:block th:each="candidat : ${listCandidats}">
       <tr>
         <td>[[${candidat.idCan}]]</td>
         <td>[[${candidat.email}]]</td>
         <td>[[${candidat.nomCan}]]</td>
         <td>[[${candidat.prenomCan}]]</td>
         <td>[[${candidat.classe}]]</td>
         <td>[[${candidat.dateNaiss}]]</td>
         <td>[[${candidat.dateCreation}]]</td>
         <td>[[${candidat.matricule}]]</td>
         <td>[[${candidat.sexe}]]</td>
         <td>[[${candidat.telephone}]]</td>
         <td>
           <a class="h4 mr-3" th:href="@{'candidat/edit/' + ${candidat.idCan}}">Edit</a>
           <a class="h4" th:href="@{'candidat/delete/' + ${candidat.idCan}}" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce candidat ?')">Delete</a>
         </td>
       </tr>
      </th:block>

      </tbody>
    </table>

  </div>
</div>
</body>
</html>
