<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css}" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"  />

</head>
<body>
<div class="container-fluid">
  <div class="text-center"><h2>[[${pageTitle}]]</h2></div>

  <form th:action="@{/candidat/save}" method="post" th:object="${candidat}"
      style="max-width: 500px; margin: 0 auto;">
    <input type="hidden" th:field="*{idCan}">
    <div class="border border-secondary rounded p-3">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">E-mail:</label>
        <div class="col-sm-8">
          <input type="email" th:field="*{email}" class="form-control" required minlength="8" maxlength="45"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nom:</label>
        <div class="col-sm-8">
          <input type="text" th:field="*{nomCan}" class="form-control" required minlength="2" maxlength="45" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Prenom:</label>
        <div class="col-sm-8">
          <input type="text" th:field="*{prenomCan}" class="form-control" required minlength="2" maxlength="45" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Date de naissance:</label>
        <div class="col-sm-8">
          <input type="date" th:field="*{dateNaiss}" class="form-control" required minlength="2" maxlength="45" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Classe:</label>
        <div class="col-sm-8">
          <input type="text" th:field="*{classe}" class="form-control" required minlength="2" maxlength="45" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Sexe:</label>
        <div class="col-sm-8">
          <input type="text" th:field="*{sexe}" class="form-control" required minlength="5" maxlength="15" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Telephone:</label>
        <div class="col-sm-8">
          <input type="tel" th:field="*{telephone}" />
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary m-2">Save</button>
        <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
      </div>
    </div>

  </form>

</div>
<script type="text/javascript">
  function cancelForm() {
    window.location = "[[@{/candidats}]]";
  }
</script>
</body>
</html>

