<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css}" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"  />
</head>
<body>
<div class="container-fluid text-center">
    <h1>Bienvenue sur notre application</h1>
    <a class="h2" th:href="@{/candidats}">Gestion des candidats</a><br><br>
    <a class="h2" th:href="@{/listinscrits}">Gestion des inscriptions</a><br><br>
    <a class="h2" th:href="@{/listetud}">Gestion des notes</a><br><br>
</div>
</body>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js}" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>
