<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<title>TP MICROSERVICE</title>


		<meta name="msapplication-TileColor" content="#fdcb04" />
		<meta name="theme-color" content="#fdcb04" />
    <link th:href="@{/img/favicon.png}" rel="icon">
    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
<!--    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />-->
<!--    <link rel="stylesheet" href="../shared/normalize.css" />-->
<!--    <link rel="stylesheet" href="../shared/additional.css" />-->
    <link rel="stylesheet" th:href="@{/css/style1.css}" />
  </head>
  <body>
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
          <h1 class="text-light"><a th:href="@{/}"><span>TP MICROSERVICES</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a th:href="@{/index.html"><img th:src="@{/img/logo.png}" alt="" class="img-fluid"></a>-->
        </div>


      </div>
    </header><!-- End Header -->
    <div class="dropbox-content max-w-xl mx-auto flex">
      <div class="dropbox-content__img w-half flex justify-center items-left">
        <img th:src="@{/img/undraw-login.svg}" alt="Login Image" />
      </div>
      <div class="dropbox-content__form w-half">
        <form action="" class="flex flex-col">
          <div class="form__header flex justify-center">
            <h5 class="text-center">Se connecter</h5>
            
          </div>
       
          <div class="form__liners flex justify-center items-center">
            <span class="form__line"></span>
            <span class="form__line--caption">Connexion</span>
            <span class="form__line"></span>
          </div>
          <div class="flex flex-col form__input-group">
            <input type="email" class="form__input form__input--email" style="border-radius: 15px; height: 50px;" placeholder="Email" />
            <input type="password" class="form__input form__input--password"  style="border-radius: 15px; height: 50px;" placeholder="Password" />
          </div>
          <div class="form__submit flex items-center justify-center">
            
            <a href="/index" class="form__btn-submit">Se connecter</a>
          </div>
        
        </form>

        
      </div>
    </div>

  </body>
</html>
